@font-face {
  font-family: "LibertinusSerif-Bold";
  src: url("../../vendor/Fonts/LibertinusSerif-Bold.ttf");
}

@font-face {
  font-family: "LibertinusSerif-Regular";
  src: url("../../vendor/Fonts/LibertinusSerif-Regular.ttf");
}

@font-face {
  font-family: "LibertinusSerif-Italic";
  src: url("../../vendor/Fonts/LibertinusSerif-Italic.ttf");
}
#root {
  max-width: 1440px;
}

.page {
  background-color: lavenderblush;
  /* background: linear-gradient(135deg, #ffd6e8, #d1a6f9); */
  margin: 0;
}
