.main {
  padding: 20px 60px;
  margin: 40px 0px;
}

.main__content {
  display: flex;
  justify-content: space-between;
}

.main__title {
  font-family: "LibertinusSerif-Bold";
  font-size: 60px;
  color: purple;
}

.main__position {
  font-family: "LibertinusSerif-Regular";
  font-size: 40px;
  /* color: purple; */
}

.main__image {
  max-width: 400px;
  max-height: 400px;
}
