.about {
  padding: auto;
}

.about__content {
  max-width: 800px;
  margin-top: 150px;
}

.about__title {
  font-family: "LibertinusSerif-Regular";
  font-size: 30px;
}

.about__text {
  font-family: "LibertinusSerif-Italic";
  font-size: 20px;
}
