.about {
  margin-top: 150px;
  background-color: linen;
  padding: 30px;
}

.about__title {
  font-family: "LibertinusSerif-Regular";
  font-size: 30px;
  margin-left: 30px;
}

.about__question {
  font-family: "LibertinusSerif-Regular";
  font-size: 40px;
  color: purple;
  margin-left: 30px;
}

.about__content {
  display: flex;
  justify-content: space-between;
}

.about__img {
  width: 400px;
  height: 400px;
}

.about__text {
  font-family: "LibertinusSerif-Italic";
  font-size: 30px;
  width: 700px;
}

@media (max-width: 768px) {
  .about {
    padding: 20px 40px;
    margin: 40px 0;
  }

  .about__content {
    flex-direction: column;
  }

  .about__img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
  }

  .about__text {
    max-width: 100%;
    text-align: center;
  }
}
