.about {
  display: flex;
  justify-content: space-between;
}

.about__content {
  max-width: 600px;
  margin: auto;
  /* margin-left: 40px; */
  font-family: "LibertinusSerif-Italic";
  font-weight: 1000;
  font-size: large;
}

.about__image {
  max-width: 400px;
  max-height: 400px;
  margin-right: 40px;
}
