.header {
  padding: 40px 60px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}

.header__logo {
  font-family: "LibertinusSerif-Bold";
  font-size: 40px;
  font-weight: bold;
}

.header__logo:hover {
  color: gray;
  transform: scale(1.1);
}

.header__nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header__nav li {
  cursor: pointer;
  font-family: "LibertinusSerif-Regular";
  font-weight: normal;
  font-size: 25px;
}

.header__nav li:hover {
  color: gray;
  transform: scale(1.1);
}
