.header {
  padding: 40px 60px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: lavenderblush;
}

.header__logo {
  font-family: "LibertinusSerif-Bold";
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.header__logo:hover {
  color: gray;
  transform: scale(1.1);
}

.nav {
  display: flex;
  gap: 1rem;
}

.header__hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  width: 30px;
}

.header__nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav-link {
  cursor: pointer;
  font-family: "LibertinusSerif-Regular";
  font-weight: normal;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.header__nav-link:hover {
  color: gray;
  transform: scale(1.1);
}

.header__button {
  width: 150px;
  height: 40px;
  border-radius: 100px;
  background-color: transparent;
  font-family: "LibertinusSerif-Bold";
  font-size: 25px;
  cursor: pointer;
}

.header__button:hover {
  background-color: gray;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
  }

  .nav.open {
    display: flex;
  }

  .header__hamburger {
    display: block;
  }
}
